.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-color: #aecfd8;
}

.App-header {
  background-color: #811414;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  font-weight:bolder;
  color: rgb(1, 128, 1);
}


h1{
  font-size: calc(15px + 2vmin);
  color: rgb(100, 100, 194);
  font-weight:bold;
}

h2{
  font-size: calc(25px + 2vmin);
  color:darkgreen;
  font-weight:bold;
}

p{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
}

.UB{
  font-size: calc(15px + 2vmin);
  color: #811414;
  font-weight:bold;
}

.erklärung{
  margin-left: 5%;
  margin-right: 5%;
  font-size: calc(15px + 1vmin);
}

.keks2{
  width: 1000px;
  height: 650px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
