*{
   font-family: "Inter", sans-serif;
   line-height: 1.8;
}

u1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    display: block;
}

li a{
    display: block;
    color: #432C3E;
    text-decoration: none;
    padding: 13px 50px;
    margin-right: 250px;
    margin-left: 65px;
    font-size: 50px;
    
}

.header{
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
    
}

body{
    background-color: #A991A1;
    margin-left: 0%;
    margin-top: 0%;
}

img{
    box-shadow: 5px 5px 5px gray;
    margin-left: 90%;
}
